<div class="d-flex justify-content-center my-5">
  <mat-card>
    <mat-card-header class="d-flex justify-content-center">
      <mat-card-title>{{'register.title' | translate}}</mat-card-title>
    </mat-card-header>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <mat-card-content *ngIf="!next" class="mt-4">
        <p>{{'register.subtitle' | translate}}</p>
        <mat-form-field appearance="outline" class="my-1">
          <mat-label>{{'register.lastname' | translate}}</mat-label>
          <input matInput formControlName="lastname" required>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="outline" class="my-1">
          <mat-label>{{'register.firstname' | translate}}</mat-label>
          <input matInput formControlName="firstname" required>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="outline" class="my-1">
          <mat-label>{{'common.email' | translate}}</mat-label>
          <input matInput formControlName="email" required>
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="outline" class="my-1">
          <mat-label>{{'common.password' | translate}}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon class="visibility">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>{{'register.hint' | translate}}</mat-hint>
        </mat-form-field>
        <br/>
        <button mat-flat-button color="primary" type="button" class="mt-4"
                (click)="next = true"
                [disabled]="firstnameCtrl.invalid || lastnameCtrl.invalid || emailCtrl.invalid || passwordCtrl.invalid">
          {{'register.next' | translate}}
        </button>
      </mat-card-content>

      <mat-card-content *ngIf="next" class="mt-4">
        <mat-form-field appearance="outline" class="my-1">
          <mat-label>{{'register.shelter' | translate}}</mat-label>
          <input matInput formControlName="shelter" required>
        </mat-form-field>
        <br/>
        <p>{{'register.address.title' | translate}}</p>
        <mat-form-field appearance="outline">
          <mat-label>{{'register.address.country' | translate}}</mat-label>
          <mat-select  formControlName="country" required>
            <mat-option *ngFor="let country of countries" [value]="country.value">
              {{country.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="outline" class="my-1">
          <mat-label>{{'register.address.street' | translate}}</mat-label>
          <input matInput formControlName="street" required>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="outline" class="my-1">
          <mat-label>{{'register.address.apartment' | translate}}</mat-label>
          <input matInput formControlName="apartment">
        </mat-form-field>
        <div class="d-flex justify-content-center">
          <mat-form-field appearance="outline" class="my-1 mr-2">
            <mat-label>{{'register.address.zip' | translate}}</mat-label>
            <input matInput formControlName="zip" maxlength="5" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="my-1">
            <mat-label>{{'register.address.city' | translate}}</mat-label>
            <input matInput formControlName="city" required>
          </mat-form-field>
        </div>

        <mat-checkbox color="primary" class="my-3" [checked]="check">
          J'ai lu et j'accèpte les <a routerLink="/legal">conditions générales d'utilisation</a>
        </mat-checkbox>
        <button mat-flat-button color="primary" type="submit" class="mt-1" [disabled]="registerForm.invalid">{{'register.button' | translate}}</button>
      </mat-card-content>
    </form>
  </mat-card>
</div>
