<div class="modal">
    <div class="actions">
        <div>
            <input type="file" class="file-upload " (change)="onChange($event)" style="display: none" #selectFile>
            <button mat-icon-button (click)="selectFile.click()"><mat-icon>add_a_photo</mat-icon></button>
        </div>
        <div>
            <button *ngIf="canSave()"
                    mat-raised-button
                    color="primary"
                    class="mr-2"
                    [disabled]="isLoading"
                    matPrefix
                    (click)="save()">
              {{isLoading ? 'Loading' : 'Save'}}
            </button>
            <button mat-raised-button color="primary" [disabled]="isLoading" matPrefix (click)="close()">Close</button>
        </div>
    </div>
    <mat-grid-list
    [cols]="4" rowHeight="320px"
    [gutterSize]="'5px'">
    <div *ngIf="!isLoading">
        <mat-grid-tile class="d-flex" fxFlexAlign="stretch" *ngFor="let image of data.animal.images; let index = index">
            <img mat-card-image src="{{image}}" alt="pet image">
            <button mat-icon-button class="profile-image-delete" (click)="onDelete(index)"><mat-icon>delete</mat-icon></button>
        </mat-grid-tile>
    </div>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    </mat-grid-list>
</div>
