.modal {
  .actions {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
  }

  .profile-image-delete {
    background-color: white;
    position: absolute;
    top: 250px;
    transform: translateX(100px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }

  .mat-card-image {
    vertical-align: middle;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid black;
    height: 250px;
    width: 250px;
  }
}