<mat-drawer-container class="app-content">
  <mat-drawer #drawer class="sidenav" mode="over" [opened]="false">
    <div class="justify-content-between">
      <h3>{{'animals.filter.title' | translate}}</h3>
      <button type="button" mat-icon-button
              class="mx-1 my-1"
              (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="mx-2">
      <mat-checkbox
        class="my-3"
        [(ngModel)]="adoptionChecked"
        (click)="filter(adoptionChecked)">
        {{'animals.filter.adopted' | translate}}
      </mat-checkbox>

      <mat-accordion>
        <mat-expansion-panel class="mb-3">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'animals.filter.species' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let specieCheck of speciesCheckList">
            <mat-checkbox
              class="my-1"
              [checked]="specieCheck.checked"
              [disabled]="specieCheck.disabled"
              (change)="onChange(specieCheck, 'specie')">
              {{ specieCheck.specie.name }}
            </mat-checkbox>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-3">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'animals.filter.breeds' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div style="max-height: 50px !important;" *ngFor="let raceCheck of racesCheckList">
            <mat-checkbox
              class="my-1"
              [checked]="raceCheck.checked"
              [disabled]="raceCheck.disabled"
              (change)="onChange(raceCheck, 'race')">
              {{ raceCheck.race.name }}
            </mat-checkbox>
          </div>
          <p *ngIf="storedNumbers[0] === -1">{{'animals.filter.breeds-empty' | translate}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-3">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'animals.filter.gender' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let genderCheck of genderCheckList">
            <mat-checkbox
              class="my-1"
              [checked]="genderCheck.checked"
              [disabled]="genderCheck.disabled"
              (change)="onChange(genderCheck, 'sex')">
              {{ genderCheck.type }}
            </mat-checkbox>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-3">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'animals.filter.age' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let ageCheck of agesCheckList">
            <mat-checkbox
              class="my-1"
              [checked]="ageCheck.checked"
              [disabled]="ageCheck.disabled"
              (change)="onChange(ageCheck, 'age')">
              {{ ageCheck.type }}
            </mat-checkbox>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-drawer>

    <button type="button" mat-mini-fab color="accent"
            class="fab-btn mx-1 my-1"
            (click)="drawer.toggle()">
      <mat-icon>chevron_right</mat-icon>
    </button>

    <div class="spinner" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="filteredAnimals.length <= 0">
      <p class="text-center" *ngIf="!adoptionChecked">{{'animals.no-animals' | translate}}</p>
      <p class="text-center" *ngIf="adoptionChecked">{{'animals.no-adopted-animals' | translate}}</p>
      <div class="d-flex justify-content-center">
        <button mat-flat-button color="primary" type="button"   routerLink="/animal-create">{{'animals.add' | translate}}</button>
      </div>
    </div>
    <mat-grid-list [cols]="valueCols" rowHeight="500px"
                   [gutterSize]="'20px'"
                   (window:resize)="onResize()"
                   *ngIf="filteredAnimals.length > 0">
      <mat-grid-tile fxFlexAlign="stretch" *ngFor="let animal of orderList()">
        <mat-card>
          <img mat-card-image src="{{animal.images[0]}}" alt="animal image">
          <mat-card-content>
            <div class="d-flex justify-content-between">
              <mat-card-title>{{animal.name}}</mat-card-title>
              <mat-icon *ngIf="animal.sex === 'male'" matTooltip="Male">male</mat-icon>
              <mat-icon *ngIf="animal.sex === 'female'" matTooltip="Femelle">female</mat-icon>
              <mat-icon  *ngIf="animal.sex === 'unknown'" matTooltip="Sex inconnue">question_mark</mat-icon>
            </div>

            <div class="d-flex justify-content-start">
              <span class="mr-2"><mat-icon class="icon-primary">event</mat-icon></span>
              <span class="align-center">{{'animals.born' | translate}} {{animal.birthDate | date: 'd MMMM yyyy'}}</span>
            </div>

            <div class="d-flex justify-content-start">
              <span class="mr-2"><mat-icon class="icon-primary">pets</mat-icon></span>
              <span class="align-center mr-3">{{animal.race.specie.name}}</span>
              <mat-divider [vertical]="true"></mat-divider>
              <span class="align-center ml-3">{{animal.race.name}}</span>
            </div>
          </mat-card-content>

          <mat-card-actions class="d-flex" [ngClass]="{'justify-content-start': !animal.isAdoption, 'justify-content-end': animal.isAdoption}">
            <button mat-icon-button
                    color="warn"
                    *ngIf="!animal.isAdoption"
                    disableRipple style="cursor: default">
              <mat-icon>verified</mat-icon> {{'animals.adopted' | translate}}
            </button>
            <button mat-flat-button
                    *ngIf="animal.isAdoption"
                    [routerLink]="['/animal', animal.id]"
                    [state]="animal">
              {{'animals.detail' | translate}}
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

</mat-drawer-container>
