<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [(opened)]="isOpen">
    <h3>Filtres</h3>
    <div class="mx-2">
      <mat-slider
        style="width: 100%"
        aria-label="number of cols"
        max="6"
        min="2"
        step="1"
        thumbLabel="true"
        [(ngModel)]="valueCols"
        [tickInterval]="setValueColsToStorage()"
        matTooltip="Choisir le nombre d'animaux par ligne"
        matTooltipPosition="right">
      </mat-slider>

      <mat-checkbox
        class="my-3"
        [(ngModel)]="adoptionChecked">
        Adopté
      </mat-checkbox>

      <mat-accordion>
        <mat-expansion-panel class="mb-3">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Localisation
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-3">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Espèces
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-3">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Race
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-3">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Age
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-drawer>

  <div>
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon *ngIf="!isOpen">chevron_right</mat-icon>
      <mat-icon *ngIf="isOpen">chevron_left</mat-icon>
    </button>
    <mat-grid-list [cols]="valueCols" rowHeight="500px">
      <mat-grid-tile *ngFor="let animal of animals">
        <mat-card>
          <img mat-card-image src="{{animal.images[0]}}">
          <mat-card-content>
            <div class="d-flex justify-content-between">
              <mat-card-title>{{animal.name}}</mat-card-title>
              <mat-icon *ngIf="animal.sex === 'male'" matTooltip="Male">male</mat-icon>
              <mat-icon *ngIf="animal.sex === 'female'" matTooltip="Femelle">female</mat-icon>
              <mat-icon  *ngIf="animal.sex === 'unknown'" matTooltip="Sex inconnue">question_mark</mat-icon>
            </div>
            <div class="d-flex justify-content-start">
              <span class="mr-2"><mat-icon class="icon-primary">event</mat-icon></span>
              <span class="align-center"> Né le {{animal.birthDate | date: 'd MMMM yyyy'}}</span>
            </div>
            <div class="d-flex justify-content-start">
              <span class="mr-2"><mat-icon class="icon-primary">pets</mat-icon></span>
              <span class="align-center mr-3">{{animal.race.species.name}}</span>
              <mat-divider [vertical]="true"></mat-divider>
              <span class="align-center ml-3">{{animal.race.name}}</span>
            </div>
          </mat-card-content>
          <mat-card-actions class="d-flex justify-content-between">
            <button mat-icon-button color="warn" *ngIf="!liked.includes(animal.id)" (click)="adopted(animal.id, true)" matTooltip="Like si l'animal a été adopté">
              <mat-icon>favorite_border</mat-icon>
            </button>
            <button mat-icon-button color="warn" *ngIf="liked.includes(animal.id)" (click)="adopted(animal.id)">
              <mat-icon>favorite</mat-icon>
            </button>

            <button mat-flat-button [routerLink]="['/animal', animal.id]">Modifier</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-drawer-container>
