<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [(opened)]="isOpen">
    <h3>Filtres</h3>
    <div>
      <mat-slider
        aria-label="number of cols"
        max="6"
        min="2"
        step="1"
        thumbLabel="true"
        [(ngModel)]="valueCols"
        [tickInterval]="setValueColsToStorage()"
        matTooltip="Choisir le nombre d'animaux par ligne"
        matTooltipPosition="right"
      >
      </mat-slider>
      <p>Localisation</p>
      <p>Espèces</p>
      <p>Race</p>
      <p>Age</p>
    </div>
  </mat-drawer>

  <div>
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon *ngIf="!isOpen">chevron_right</mat-icon>
      <mat-icon *ngIf="isOpen">chevron_left</mat-icon>
    </button>
    <mat-grid-list [cols]="valueCols" rowHeight="420px">
      <mat-grid-tile *ngFor="let animal of animals">
        <mat-card>
          <img mat-card-image src="{{animal.images[0]}}" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <div class="d-flex justify-content-between">
              <mat-card-title>{{animal.name}}</mat-card-title>
              <mat-icon *ngIf="animal.sex === 'male'" matTooltip="Male">male</mat-icon>
              <mat-icon *ngIf="animal.sex === 'female'" matTooltip="Femelle">female</mat-icon>
              <mat-icon  *ngIf="animal.sex === 'unknown'" matTooltip="Sex inconnue">question_mark</mat-icon>
            </div>

            <p>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="primary">Adopter !</button>
            <button mat-flat-button>Modifier</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-drawer-container>
