<ng-container *ngIf="!isMobileDevice; then home; else home_mobile"></ng-container>

<ng-template #home>
  <section class="app-content home">
    <h1 class="cookie">{{'common.welcome' | translate}}</h1>
  </section>
  <svg style="margin-top: -4px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#168AAD" fill-opacity="1" d="M0,160L80,181.3C160,203,320,245,480,250.7C640,256,800,224,960,192C1120,160,1280,128,1360,112L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
  </svg>
  <section class="container" style="margin-top: -250px; padding-bottom: 60px;">
    <mat-card class="card-bg">
      <mat-card-title class="title">C'est quoi Mizipets ?</mat-card-title>
      <mat-card-content>
        <mat-divider inset style="background-color: #168AAD"></mat-divider>
        <p>Mizipets est une application créée pour les amoureux des animaux. Soucieux de la cause animal nous avons créé Mizipets pour mettre en avant les refuges et favoriser l’adoption des animaux. L’application mobile permet donc d’adopter mais également de rechercher un vétérinaire et d’avoir de bons conseils fait en collaboration avec des professionnels. Si vous souhaitez adopter utilisez notre application mobile</p>
        <div class="justify-content-between box-content">
          <img src="assets/images/panda-wait.png" height="215" width="215">
          <div>
            <p class="text">Si vous êtes un particulier, vous pouvez téléchargez gratuitement l'application Mizipets et profitez d'une utilisation spécialement pensée pour une utilisation sur téléphone</p>
            <a href="https://play.google.com/store/apps/details?id=com.mizipets" target="_blank">
              <img src="assets/images/google-play.png" height="46" width="153" alt="google-play icon">
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</ng-template>

<ng-template #home_mobile>
  <app-home-mobile></app-home-mobile>
</ng-template>
