.app-content {
  section {
    padding: 0 50px 0 50px;
  }
  .section-bg {
    background-color: #05668d;
    color: #fafafa;
  }
  .home {
    background-color: #05668d;
    width: 100%;
    box-sizing: border-box;

    .cookie {
      text-align: center;
      margin: 0;
      color: #fafafa;
      padding-bottom: 30px;
      padding-top: 30px;
    }
  }
  .box-content {
    background-color: #FED08B;
    padding: 10px;
    max-width: 550px;
  }

  .text {
    font-weight: 400 !important;
    font-size: 26px !important;
  }
}

.top {
  margin-top: -64px !important;
}
