<div class="app-content" [ngClass]="{'top': isMobileDevice === true}">
  <section class="home">
    <div class="text-center" *ngIf="isMobileDevice === true">
      <img src="../../../assets/images/mizipets.png" height="150" width="150" alt="logo">
    </div>
    <h1 class="cookie">{{'common.welcome' | translate}}</h1>
  </section>

  <svg style="margin-top: -20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#05668d" fill-opacity="1" d="M0,160L80,181.3C160,203,320,245,480,250.7C640,256,800,224,960,192C1120,160,1280,128,1360,112L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
  </svg>

  <section fxflex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex>
      <h1 class="title">{{ 'home.section-1.title' | translate }}</h1>
      <p>
        {{ 'home.section-1.content' | translate }}
      </p>
    </div>
    <div fxFlex class="text-center" fxFlexAlign="center">
      <img src="../../../assets/images/home-1.png" class="animal-image" width="310" height="290" alt="home-1">
    </div>
  </section>
  <section class="section-bg" fxflex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
      <div fxFlex fxFlexAlign="center" class="text-center">
        <img src="../../../assets/images/home-2.png" class="animal-image" width="310" height="310" alt="home-2">
      </div>
      <div fxFlex>
        <h1 class="title">{{ 'home.section-2.title' | translate }}</h1>
        <p>
          {{ 'home.section-2.content' | translate }}
        </p>
        <p style="color: #FED08B">
          {{ 'home.section-2.subtitle' | translate }}
        </p>
      </div>
    </section>

  <section fxflex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex>
      <h1 class="title">{{ 'home.section-3.title' | translate }}</h1>
      <h3>
        {{ 'home.section-3.subtitle-pro' | translate }}
      </h3>
      <p>
        {{ 'home.section-3.content-pro' | translate }}
      </p>
      <h3>
        {{ 'home.section-3.subtitle' | translate }}
      </h3>
      <p>
        {{ 'home.section-3.content' | translate }}
      </p>
    </div>
    <div fxFlex class="text-center" fxFlexAlign="center">
      <img src="../../../assets/images/home-3.png" class="animal-image" width="310" height="310" alt="home-3">
    </div>
  </section>
  <section fxflex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlexAlign="center" class="justify-content-center">
    <div fxFlex="25" class="text-center box-content radius-top">
      <img src="assets/images/panda-wait.png" height="215" width="215" alt="wait">
    </div>
    <div fxFlex class="box-content text-center radius-bot">
      <p class="text">{{ 'home.section-3.download' | translate }}</p>
      <a href="https://play.google.com/store/apps/details?id=com.mizipets" target="_blank">
        <img src="assets/images/google-play.png" height="200" width="230" alt="google-play icon">
      </a>
    </div>
  </section>
  <section class="section-bg" *ngIf="animals.length > 0">
    <div class="text-center">
      <h1 class="title">{{ 'home.section-3.animals' | translate }}</h1>
    </div>
    <div fxLayout="row wrap" class="justify-content-center">
      <ng-container *ngFor="let animal of animals">
        <img fxflex class="img-list" src="{{animal.images[0]}}" width="250" height="250" alt="pets">
      </ng-container>
    </div>
  </section>
</div>
