
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap');

.home {
  background-color: #168AAD;
  width: 100% !important;
  height: 35vh;
  box-sizing: border-box;

  .cookie {
    text-align: center !important;
    margin: 0 !important;
    color: #fafafa !important;
    padding-top: 200px;
  }
}

.box-content {
  background-color: #9FF07A;
  min-height: 215px;
  padding: 10px;
  border-radius: 20px;
}

.text {
  font-weight: 400 !important;
  font-size: 26px !important;
}
