<mat-drawer-container class="sidenav-container" *ngIf="rooms.length > 0">
  <mat-drawer class="sidenav" mode="side" opened>
    <p style="margin-top: 0;">Messagerie</p>

    <div *ngFor="let room of rooms">
      <button class="justify-content-start" style="align-content: center" (click)="connectionToRoom(room)">
        <img src="{{room.adoptant.photo}}" class="avatar">
        <h5>{{ room.adoptant.firstname }}</h5>
      </button>
    </div>
  </mat-drawer>
  <div>
    <mat-toolbar>
      <div *ngIf="currentRoom">
        <img src="{{currentRoom.adoptant.photo}}" class="avatar">
        <span>{{currentRoom.adoptant.firstname}}</span>
      </div>
    </mat-toolbar>

    <div *ngIf="currentRoom && currentRoom.messages">
      <ul *ngFor="let message of currentRoom.messages">
        <li class="message">
          <div *ngIf="message.id !== 1; then incoming_msg; else outgoing_msg"></div>
          <ng-template #incoming_msg>
            <div class="incoming_msg">
              <img
                src="https://i.imgur.com/k2PZLZa.png"
                alt="User avatar"
                class="avatar"
              />
              <div class="received_msg">
                  <p>{{ message.text }}</p>
              </div>
            </div>

          </ng-template>
          <ng-template #outgoing_msg>
            <div class="outgoing_msg">
              <div class="sent_msg">
                  <p>{{ message.text }}</p>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
    </div>

    <div>
      <mat-toolbar>
        <span class="spacer"></span>
        <div>
          <input [(ngModel)]="message" />
          <button (click)="sendMessage()">Send</button>
        </div>
        <span class="spacer"></span>
      </mat-toolbar>
    </div>
  </div>


</mat-drawer-container>
