.mat-card {
    width: 500px;
  
    .mat-form-field, .mat-flat-button {
      width: 100%;
    }

    .mat-card-avatar {
        display: flex;
        align-items: center;
        margin-left: 40%;
        width: 20%;
    }


    img {
      border: 2px solid #000;
      border-radius: 50%;
    }
  }

  