<!DOCTYPE html>
<div *ngIf="user" class="d-flex justify-content-center my-5">
    <mat-card>
        <mat-card-header>
            <mat-card-title class="d-flex justify-content-center">Profile</mat-card-title>
        </mat-card-header>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <mat-card-content class="mt-4">
                <div mat-card-avatar class="d-flex justify-content-center my-5">
                    <img mat-card-image src="{{user.photo}}" class="header-image">
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>{{'common.firstname' | translate}}</mat-label>
                    <input matInput formControlName="firstname">
                </mat-form-field>
                <br/>
                <mat-form-field appearance="outline">
                  <mat-label>{{'common.lastname' | translate}}</mat-label>
                  <input matInput formControlName="lastname">
                </mat-form-field>
                <br/>
                <mat-form-field appearance="outline" class="my-1">
                  <mat-label>{{'common.email' | translate}}</mat-label>
                  <input matInput formControlName="email">
                </mat-form-field>
                <br/>
                <p>{{'common.address.title' | translate}}</p>
                  <mat-form-field appearance="outline" class="my-1">
                    <mat-label>{{'common.address.street' | translate}}</mat-label>
                    <input matInput formControlName="street">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="my-1">
                    <mat-label>{{'common.address.apartment' | translate}}</mat-label>
                  <input matInput formControlName="apartment">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="my-1">
                    <mat-label>{{'common.address.zip' | translate}}</mat-label>
                  <input matInput formControlName="zip">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="my-1">
                    <mat-label>{{'common.address.city' | translate}}</mat-label>
                    <input matInput formControlName="city">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="my-1">
                    <mat-label>{{'common.address.country' | translate}}</mat-label>
                    <input matInput formControlName="country">
                  </mat-form-field>         
                <br/>
                <div class="d-flex justify-content-center my-5">
                    <button mat-flat-button color="primary" type="submit">{{'user-profile.update-button' | translate}}</button>
                </div>
                <br/>
                <p>{{'user-profile.creation' | translate}}</p>
                <p>{{user.createDate | date:'mediumDate'}}</p>
                <div class="d-flex justify-content-center my-5">
                    <button mat-flat-button color="warn" type="button" (click)="onCloseAccount()">{{'user-profile.close-button' | translate}}</button>
                </div>
              </mat-card-content>

        </form>
    </mat-card>
    
</div>

