<div *ngIf="user" class="app-content justify-content-center">
    <mat-card class="my-3">
        <mat-card-header>
            <mat-card-title class="justify-content-center">{{'profile.title' | translate}}</mat-card-title>
        </mat-card-header>
        <form [formGroup]="profileForm">
            <mat-card-content>
                <div class="justify-content-center mb-4">
                    <img src="{{fileName}}" class="profile-image" width="150" height="150" alt="user avatar">
                    <input type="file" class="file-upload" (change)="onChange($event)" style="display: none" #selectFile>
                    <button mat-icon-button class="profile-image-picker" (click)="selectFile.click()"><mat-icon>add_a_photo</mat-icon></button>
                </div>
                <h3 class="text-center">{{user.shelter?.name}}</h3>
                <p class="text-center" style="color: #717171">{{'profile.creation' | translate}} {{user.createDate | date:'MMMM y'}}</p>
                <p class="mt-4">{{'profile.information' | translate}}</p>
                <mat-form-field appearance="outline">
                  <mat-label>{{'common.firstname' | translate}}</mat-label>
                  <input matInput type="string" formControlName="firstname">
                  <mat-error>{{'common.error' | translate}}</mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field appearance="outline">
                  <mat-label>{{'common.lastname' | translate}}</mat-label>
                  <input matInput type="string" formControlName="lastname">
                  <mat-error>{{'common.error' | translate}}</mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field appearance="outline" class="my-1">
                  <mat-label>{{'common.email' | translate}}</mat-label>
                  <input matInput type="email" formControlName="email">
                  <mat-error>{{'common.error' | translate}}</mat-error>
                </mat-form-field>
                <br/>
                <p>{{'common.address.title' | translate}}</p>
                  <mat-form-field appearance="outline" class="my-1">
                    <mat-label>{{'common.address.street' | translate}}</mat-label>
                    <input matInput type="string" formControlName="street">
                    <mat-error>{{'common.error' | translate}}</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="my-1">
                    <mat-label>{{'common.address.apartment' | translate}}</mat-label>
                    <input matInput type="string" formControlName="apartment">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="my-1">
                    <mat-label>{{'common.address.zip' | translate}}</mat-label>
                    <input matInput type="number" formControlName="zip" minlength="5" maxlength="5">
                    <mat-error>{{'common.error' | translate}}</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="my-1">
                    <mat-label>{{'common.address.city' | translate}}</mat-label>
                    <input matInput type="string" formControlName="city">
                    <mat-error>{{'common.error' | translate}}</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="my-1">
                    <mat-label>{{'common.address.country' | translate}}</mat-label>
                    <input matInput type="string" formControlName="country">
                    <mat-error>{{'common.error' | translate}}</mat-error>
                  </mat-form-field>
                <div class="justify-content-center">
                    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="profileForm.invalid">{{'profile.update-button' | translate}}</button>
                </div>
                <div class="my-5">
                    <p>{{'profile.close-title' | translate}}</p>
                    <button mat-flat-button color="warn" type="button" (click)="onCloseAccount()">{{'profile.close-button' | translate}}</button>
                </div>
              </mat-card-content>
        </form>
    </mat-card>
</div>

