<section class="head-section container">
  <div class="justify-content-center mt-3">
    <img src="assets/images/mizipets.png" height="150" width="150">
  </div>
  <p class="cookie my-5">Mizipets</p>
  <p>Mizipets est une application mobile créée pour les amoureux des animaux.</p>
</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#05668d" fill-opacity="1" d="M0,224L80,197.3C160,171,320,117,480,112C640,107,800,149,960,160C1120,171,1280,149,1360,138.7L1440,128L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
</svg>
<section class="container">
  <h1>Le concept</h1>
  <p>
    Mizipets est une application mobile qui propose divers services destinés aux animaux.
    L'application est destiner au particulier possedant un ou des animaux et a ceux qui veulent en adopter.
    Soucieux de la cause animal nous avons créé Mizipets pour mettre en avant les refuges et favoriser l’adoption des animaux.
    L’application mobile permet donc d’adopter mais également de rechercher un vétérinaire et d’avoir de bons conseils fait en collaboration avec des professionnels.
  </p>
</section>
<svg xmlns="http://www.w3.org/2000/svg" class="mt-3"
     viewBox="0 0 1440 320"><path fill="#05668d" fill-opacity="1" d="M0,32L60,58.7C120,85,240,139,360,133.3C480,128,600,64,720,74.7C840,85,960,171,1080,170.7C1200,171,1320,85,1380,42.7L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
</svg>
<section class="end-section container">
  <h1>Téléchargez l'application</h1>
  <p>Téléchargez gratuitement l'application Mizipets et profitez d'une utilisation spécialement pensée pour une utilisation sur téléphone !</p>
  <button mat-flat-button class="my-2">Play Store</button>
  <br/>
  <button mat-flat-button class="mt-2 mb-4">App Store</button>
</section>
