
<div *ngIf="animal" class="justify-content-center my-5">
    <mat-card>
        <mat-card-header class="mb-3">
            <mat-card-title class="justify-content-center">animals-detail works!</mat-card-title>
            <button mat-icon-button (click)="onUpdateButton()"><mat-icon>settings</mat-icon></button>
            <button mat-icon-button *ngIf="modify" (click)="onDeleteAnimal()"><mat-icon>delete</mat-icon></button>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="!modify">
                <div class="d-flex justify-content-start">
                    <div class="ml-2">
                        <img mat-card-image *ngIf="!modify" src="{{displayedImage}}">
                    </div>
                    <div class="ml-5">
                        <p> Nom : {{animal.name}}</p>
                        <p> Age : {{ageString}} ans</p>
                        <p> Location : {{animal.owner.shelter.name}} {{animal.owner.address.zip}} {{animal.owner.address.city}}</p>
                        <p> Commentaire : {{animal.comment}}</p>
                    </div>
                    <div class="ml-4">
                        <p> Sex : {{animal.sex}}</p>
                        <p> Race : {{animal.race.name}}</p>
                    </div> 
                </div>
                <p> Annonce postée le {{animal.createDate | date:'dd MMMM y'}}</p>
            </div>
            <div *ngIf="modify">
                <form [formGroup]="animalForm">
                    <div class="d-flex justify-content-start">
                        <div class="ml-2">
                            <img mat-card-image src="{{displayedImage}}">
                            <input type="file" class="file-upload" (change)="onChange($event)" style="display: none" #selectFile>
                            <button mat-icon-button class="profile-image-picker" (click)="selectFile.click()"><mat-icon>add_a_photo</mat-icon></button>
                        </div>
                        <div class="ml-5">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{'animals-add.name' | translate}}</mat-label>
                                    <input matInput type="string" formControlName="name" minlength="3">
                                    <mat-error>{{'common.error' | translate}}</mat-error>
                                </mat-form-field>
                                <p> </p>
                                <mat-form-field appearance="outline">
                                    <mat-label>{{'animals.born' | translate}}</mat-label>
                                    <input matInput type="date" formControlName="birthDate">
                                    <mat-error>{{'common.error' | translate}}</mat-error>
                                </mat-form-field>
                                <p> </p>
                                <mat-form-field appearance="outline">
                                    <mat-label>{{'animals-add.comment' | translate}}</mat-label>
                                    <input matInput type="string" formControlName="comment">
                                    <mat-error>{{'common.error' | translate}}</mat-error>
                                </mat-form-field>
                        </div>
                        <div class="ml-3">
                                <mat-form-field appearance="outline">
                                    <mat-label value="">{{'animals.filter.gender' | translate}}</mat-label>
                                    <mat-select type="string" formControlName="sex">
                                        <mat-option *ngFor="let sex of Sex" [value]="sex">
                                            {{ sex }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>{{'common.error' | translate}}</mat-error>
                                </mat-form-field> 
                                <p> </p>
                                <mat-form-field appearance="outline">
                                    <mat-label value="">{{'animals.filter.breeds' | translate}}</mat-label>
                                    <mat-select formControlName="race">
                                        <mat-option *ngFor="let race of races" [value]="race">
                                            {{ race.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>{{'common.error' | translate}}</mat-error>
                                </mat-form-field>
                        </div> 
                    </div>
                    <div class="justify-content-center">
                        <button mat-flat-button color="primary" (click)="onUpdate()" [disabled]="animalForm.invalid">{{'user-profile.update-button' | translate}}</button>
                    </div> 
                </form> 
            </div>      
        </mat-card-content>
    </mat-card>
</div>
