.mat-card {
    width: 900px;

    .mat-form-field{
      width: 100%;
    }

    .mat-flat-button {
        width: 60%;
    }
    
    .mat-card-image {
      vertical-align: middle;
      border-radius: 0%;
      object-fit: cover;
      border: 5px solid #168AAD;
    }

    .profile-image-picker {
      background-color: white;
      position: absolute;
      top: 240px;
      transform: translateX(200px);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }
  }