<h2 class="d-flex justify-content-center my-3">{{'user-profile.close-title' | translate}}</h2>
<p class="d-flex justify-content-center my-1">{{'user-profile.close-warning' | translate}}</p>
<p class="d-flex justify-content-center my-1">{{'user-profile.close-warning-2' | translate}}</p>
<div class="d-flex justify-content-center my-3">
    <button mat-flat-button color="warn" type="button" (click)="onConfirm()">{{'common.confirm' | translate}}</button>
    <button mat-flat-button type="button" (click)="onCancel()">{{'common.cancel' | translate}}</button>
</div>